@media (min-width: 450px) {
    #navuser {
        display: flex
    }
}

#a1 {
    color: white;
    font-weight: 500;
    font-size: 0.95rem;
}



#a2 {
    color: white;
    font-weight: 500;
    font-size: 0.95rem;
}



#a3 {
    color: white;
    font-weight: 500;
    font-size: 0.95rem;
}


#a4 {
    color: white;
    font-weight: 500;
    font-size: 0.95rem;
}