@media (min-width: 450px) {
    #form {
        height: 93vh;
    }
}

@media (max-width: 100%) {
    #form {
        height: 92vh;

    }
}

#container1 {
    font-size: 0.9rem;
    background-color: white;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    border-radius: 0.5rem;
}

