@media (min-width: 450px) {
	#form11 {
		height: 93vh;
	}
}

@media (max-width: 100%) {
	#form {
		height: 92vh;
	}
}

#ctman {
	font-size: 0.9rem;
	background-color: white;
	padding: 1.2rem 1.2rem 1.2rem 1.2rem;
	border-radius: 0.5rem;
}

#btn456 {
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
