@media (min-width: 450px) {
    #formadduser {
        height: 93vh;
    }

}



@media (max-width: 450px) {
    #formadduser {
        height: 93vh;
    }

}




#addcontainer {
    font-size: 0.9rem;
    background-color: white;
    background-color: white;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    border-radius: 0.5rem;
}

#exampleSearch {
    width: 250px
}

.modal-dialog {
    width: 90%;
    display: flex;
    justify-content: center
}

.modal-content {
    background: none;
    border: none;
    display: flex;
}

.modal-body {
    background: white;
}