@media (min-width:450px) {
    #addpartform {
        height: 93vh;
    }
}

@media (min-width:450px) {
    #addpartform {
        height: 93vh;
    }
}

#rowaddpart {
    font-size: 0.9rem;
    background-color: white;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    border-radius: 0.5rem;
}
#text2 {
    font-size: 1.79rem;
    font-weight: 400;
}