@media (min-width: 450px) {
    #aaaa {
        height: 93vh;
    }
}




#bbbb {
    background-color: #fff;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

#cccc {
    height: 1.8rem;
}

#dddd {
    width: 100%;
    margin-top: 1rem;
}

#eeee {
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}