@media (min-width: 450px) {
    #formadmin {
        height: 93vh;
    }
}

@media (max-width: 450px) {
    #formadmin {
        height: 92vh;
    }
}

#admincontainer {
    font-size: 0.9rem;
    background-color: white;
    background-color: white;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    border-radius: 0.5rem;
}